body {
background-color:#000000;
}

h1 {
  color:#e00b0b;
  float: center;
}

h2 {
  color:#e00b0b;
  float: center;
}

h3 {
  color:#e00b0b;
  float: center;
}

h4 {
  color:#e00b0b;
  float: center;
}

h5 {
  color:#e00b0b;
  float: center;
  height:100px;
}

p {
  color:#e00b0b;
width:450px;
  float:center;
}
