body {
background-color:rgb(600,600,600);
}

h1 {
  color:rgb(300,0,0);
  float: center;
}

h2 {
  color:rgb(300,0,0);
  float: center;
}

h3 {
  color: rgb(300,0,0);
  float: center;
}

h4 {
  color:rgb(300,0,0);
  float: center;
}

h5 {
  color:rgb(300,0,0);
  float: center;
}

p {
  color:rgb(300,0,0);
  border-style: transparent;
  border-width: 450px;
}
