body {
background-color:#000000;
}

h1 {
  color:#e00b0b;
  float: center;
}

h2 {
  color:#e00b0b;
  float: center;
}

h3 {
  color:#e00b0b;
  float: center;
}

h4 {
  color:#e00b0b;
  float: center;
}

h5 {
  color:#e00b0b;
  float: center;
}

p {
  color:#e00b0b;
  border-style: transparent;
  border-width: 450px;
}
