body
{background-color:rgb(146, 244, 66);

}

h1
{color:rgb(37, 161, 196);
text-align:center;
  font-size:100px;
}

h3 {
  text-align:center;
  
}

a {
  text-align:center;
  margin:auto;
}

img {
  height:400;
  margin: auto;
  display:block;
  border-radius:15px;
}

p {
  text-align:center;
  font-size:15px;
  background-color:yellow;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: yellow;
}

ul.topnav li {float: left;}
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
ul.topnav li a:hover {background-color: #555;}
ul.topnav li.icon {display: none;}
