body {
background-color:#000000;
}

h1 {
  color:#e00b0b;
  text-align: center;
  font-size: 100px;
  font-family:sans-serif;
}

h2 {
  color:#e00b0b;
  text-align: center;
}

h3 {
  color:#e00b0b;
  text-align: center;  
  font-family:sans-serif;
}
}
h4 {
  color:#e00b0b;
  text-align: center;
  font-family:sans-serif;
}

h5 {
  color:#e00b0b;
  text-align: center;
  height:100px;
  font-family:sans-serif;
}

p {
  color:#e00b0b;
width:450px;
  text-align:center;
  display:block;
  margin:auto;
  font-family:sans-serif;
}

img {
  height:auto;
  display:block;
  margin:auto;
  border-radius:15px;
}

.cardImg {
  margin-top: 15px;
}
