body {
background-color:#000000;
}

h1 {
  color:#e00b0b;
  text-align: center;
  font-size: 100px;
}

h2 {
  color:#e00b0b;
  text-align: center;
}

h3 {
  color:#e00b0b;
  text-align: center;
}

h4 {
  color:#e00b0b;
  text-align: center;
}

h5 {
  color:#e00b0b;
  text-align: center;
  height:100px;
}

p {
  color:#e00b0b;
width:450px;
  text-align:center;
  display:block;
  margin:auto;
}

img {
  height:300px;
  display:block;
  margin:auto;
}


