body {
  background-color:rgb(37, 161, 196)
}

.header {
  font-size:100px;
  text-align:center;
  display:block;
  margin:auto;
  color:rgb(146, 244, 66);
  font-family:sans-serif;
}

h2 {
 color:rgb(146, 244, 66);
  text-align:center;
  display:block;
  margin:auto;
  font-family:sans-serif;
}

h3 {
  color:rgb(146, 244, 66);
  text-align:center;
  display:block;
  margin:auto;
  font-family:sans-serif;
}

h5 {
  color:rgb(146, 244, 66);
  text-align:center;
  display:block;
  margin:auto;
  font-family:sans-serif;
}
